

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

div.algoBox {
	position: relative;
	overflow: hidden;
}

div.algoBox.loading > .loader {
	display: block;
}

div.algoBox > .loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    text-align: center;
}

.algoBox blockquote {
    height: 48px;
    margin-bottom: 5px;
}

#ShortestDistPoint-Edge blockquote {
    border-bottom: 5px solid #EEEEEE;
    height: 48px;
    margin-bottom: 20px;
}














